body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin-top: 150px;
    margin-left: 0;
}
.order-section{
    margin-left: 50px;
    margin-bottom: 150px;
}
h1{
    font-size: 35px;
}
span{
    color:orange
}
section{
    display: flex;
}
.order-text-area{
    width: 50%;
}
.order-image-area{
    margin-left: 350px;
}
p{
    color: gray;
    margin-bottom: 44px;
    font-weight: 700;
}
.contact-section{
    background-image: url(Images/shapes/7.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 150px;
}
.order{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 30px;
}
.contact-text-area{
    margin: 200px 100px 150px 150px;
}
.contact-image-area{
    margin: 1px 100px 150px 200px;
    height: 120px;
    width: 400px;
}
.recepies{
    text-align: center;
    display: inline;
}
.recepies-head{
    margin: auto;
    width: 50%;
    padding: 10px;
}
.receipies-pic{
    text-align: left;
    display: flex;
    margin: 10px 40px;
}
.recepies-icon{
    width: 90%;
    margin: 40px 40px;
}
.box-recepie{
    margin: 40px 40px;
    border: 60px 60px;
    border-radius: 18px;
    box-shadow: 10px 10px 40px gray;
}
h2{
    font-weight: 700;
    margin-left: 40px;
}
.box-recepie p{
    margin-left: 40px;
}
.social-media{
    margin-top: 150px;
    display: flex;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 60px 60px;
    border-radius: 20px;
    margin: 60px 75px;
    margin-bottom: 200px;
}
.social-media-container{
    width: 33.3%;
}
footer{
    background-color: black;
    padding-top: 20px;
    padding-bottom: 100px;
}
footer h2{
    text-align: center;
}
footer p{
    text-align: center;
    margin-top: 50px;
    margin-left: 50px;
}
.span-1{
    color:orange;
}
.span-2{
    color: gray;
    display: inline-block;
    margin-left: 20px;
}