body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin-top: 150px;
    margin-left: 0;
}
.order-section{
    margin-left: 50px;
}
h1{
    font-size: 35px;
}
span{
    color:orange
}
section{
    display: flex;
}
.order-text-area{
    width: 50%;
}
.order-image-area{
    width: 50%;
    margin-left: 350px;
}
p{
    color: gray;
    margin-bottom: 44px;
    font-weight: 700;
}
.contact-section{
    background-image: url(Images/shapes/7.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 100%;
}
.order{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 30px;
}
.contact-text-area{
    margin: 200px 100px 150px 150px;
}
.contact-image-area{
    margin: 150px 100px 150px 200px;
}